services:
  - type: web
    name: crypto-hybrid-live
    env: python
    buildCommand: |
      rm -rf ~/.cache/pip
      rm -rf /opt/render/project/src/.render-build-cache || true
      pip install --no-cache-dir --upgrade pip setuptools wheel
      pip install --no-cache-dir -r requirements.txt
    startCommand: streamlit run app_v3/app.py --server.port $PORT --server.address 0.0.0.0
