services:
  - type: web
    name: his-lipe-core
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r backend/requirements.txt
    startCommand: gunicorn -w 2 -k uvicorn.workers.UvicornWorker backend.app_lipe_core:app --bind 0.0.0.0:$PORT
    healthCheckPath: /healthz
    autoDeploy: true
